#root{
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
}

.text-justify{
  text-align: justify !important;
}
.card{
  margin: 10px;
}

.pagination-container{
  padding-bottom: 30px !important;
}